{% assign sorted_pages = site.html_pages %}
{% if site.sidebar.additional_links %}
    {% assign sorted_pages = site.html_pages | concat: site.sidebar.additional_links %}
{% endif %}
{% assign sorted_pages = sorted_pages | sort: "order" %}
{% assign previous_category = "_" %}
{% for sorted_page in sorted_pages | sort: "category" %}
    {% if sorted_page.name != '404.html' and sorted_page.name != 'search.md' and sorted_page.url != '/' and sorted_page.layout != 'styleguide/playground' %}
        {% if sorted_page.category != previous_category and sorted_page.category|strip != '' %}
            <li class="c-grid m-right u-bt-thin-dashed-alt">
                <div class="u-p-xxs u-pr-sm u-pl-sm u-fs-xs u-bc-primary-edge u-lh-base u-bl-thin-dashed-alt u-bb-thin-dashed-alt c-text m-ff-monospace m-nowrap u-c-primary-alt" u-fs-xxs="sm">
                    {{ sorted_page.category }}
                </div>
            </li>
        {% endif %}
        {% assign previous_category = sorted_page.category %}
            {% if sorted_page.unlisted != true %}
                <li class="u-relative u-o-hidden sidebar-item">
                    {% if page.title == sorted_page.title %}{% endif %}
                    <a  href="{% if sorted_page.unlisted != true %}{{ sorted_page.url | relative_url }}{% else %}#{% endif %}"
                        class="c-btn m-translucid m-block-right {% if page.url == sorted_page.url %}u-br-large-solid{% endif %}"
                        u-fs-xs="sm,md"
                        u-p-xs="sm,md"
                        data-category="{{ sorted_page.category }}">
                        {% if sorted_page.title %}
                            {{ sorted_page.title }}
                        {% else %}
                            {{ sorted_page.name}}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
    {% endif %}
{% endfor %}
