{% assign page_paths = site.pages %}
<div    class="c-position m-fixed m-top-left u-bc-primary-edge u-w-100 u-h-100 u-translucid u-z-11 m-anchor-top-right" 
        u-none="xl"
        id="sidebar-overlay"
        onclick="sidebar();"></div>
<nav    class="c-position m-top-left u-z-11 u-h-100vh u-bc-primary-max u-bb-thin-dashed-alt m-anchor-top-right--sm m-anchor-top-right--md" 
        m-fw-medium="md,xl"
        u-fixed="sm,md" 
        u-sticky="xl"
        id="sidebar">
    <div class="c-position m-absolute m-top-0 m-right-0 u-h-100 u-bl-thin-dashed-alt" style="width:1px;"></div>
    <button class="c-btn c-position m-absolute m-top-right m-anchor-top-left u-z-10 u-p-sm" 
            u-none="xl" 
            onclick="sidebar()">
        <span class="i-menu"></span>
    </button>
    <ul class="u-m-none u-p-none u-ls-none u-mh-100vh u-o-auto">
        <li>
            <a rel="author" href="{{ site.url }}{{ site.baseurl }}" class="c-btn m-translucid m-block-right u-p-md">
                {% if site.sidebar.logo.url %}
                    <img    src="{% if site.sidebar.logo.url contains 'https://' or site.sidebar.logo.url contains 'http://' %}{{ site.sidebar.logo.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.sidebar.logo.url }}{% endif %}" 
                            {% if site.sidebar.logo.max_height %}
                                style="max-height:{{ site.sidebar.logo.max_height }}"
                            {% endif %}
                            alt="{{ site.title }}">
                {% else %}
                    <!-- Without logo -->
                    <span {% if site.sidebar.logo.font_size %}style="font-size:{{ site.sidebar.logo.font_size }}"{% endif %}>{{ site.title | escape }}</span>
                {% endif %}
            </a>
        </li>
{% if page_paths %}
        <li id="sidebar-item-search">
            <form class="c-form" action="{{ 'styleguide/search.html' | relative_url }}" method="get">
                <input  type="search" 
                        id="search-box" 
                        name="query" 
                        class="u-bl-none u-bt-thin-dashed-alt {% if page.title == 'Search results' %}u-br-large-solid{% else %}u-br-none{% endif %} u-bb-none u-bg-search"
                        u-fs-xs="sm,md"
                        u-p-xs="sm,md">
                <label for="search-box" u-fs-xs="sm">Search</label>
                <input type="submit" value="Search" class="u-none">
            </form>
        </li>
        {% include styleguide/menu-basic.html %}
{% endif %}
    </ul>
</nav>
