.disabled,
.#{$briks-utilities-prefix}disabled {
    pointer-events: none;
    opacity: 0.3;
}
/*
    Background contain and cover case
*/
.#{$briks-utilities-prefix}cover,
.#{$briks-utilities-prefix}contain {
    background-repeat: no-repeat !important;
    background-position: center !important;
}
/*
    Playground
*/
.playground {
    display: none;
}
[data-playground-commands] {
    &+p {
        margin-top: 0;
    }
}
#positions-anchors-illustration {
    position: relative;
    height: 300px;
    .guide {
        position: absolute;
        background-color: my-color(primary-alt);
        &.horizontal {
            width: 100%;
            height: 1px;
            left: 0;
        }
        &.vertical {
            top: 0;
            width: 1px;
            height: 100%;
        }
        &.top {
            top: 2px;
        }
        &.middle {
            top: calc(50% + 2px);
        }
        &.bottom {
            top: calc(100% + 2px);
        }
        &.left {
            left: 2px;
        }
        &.center {
            left: calc(50% + 2px);
        }
        &.right {
            left: calc(100% + 2px);
        }
    }
    .anchor {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        &.cont {
            background-color: my-color(primary-alt);
        }
        &.el {
            background-color: my-color(hilight-alt);
        }
        &.top-left {
            top: 0%;
            left: 0%;
        }
        &.top-center {
            top: 0%;
            left: 50%;
        }
        &.top-right {
            top: 0%;
            left: 100%;
        }
        &.middle-left {
            top: 50%;
            left: 0%;
        }
        &.middle-center {
            top: 50%;
            left: 50%;
        }
        &.middle-right {
            top: 50%;
            left: 100%;
        }
        &.bottom-left {
            top: 100%;
            left: 0%;
        }
        &.bottom-center {
            top: 100%;
            left: 50%;
        }
        &.bottom-right {
            top: 100%;
            left: 100%;
        }
    }
    .elem {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 40px;
        transition: all 300ms;
        .fill {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 100%;
            height: 100%;
            background-color: my-color(hilight-edge);
            opacity: 0.3;
        }
        .guide {
            background-color: my-color(hilight-edge);
            
        }
    }
}

#sidebar-item-search {
    &+.sidebar-item {
        border-top: my-border(thin-dashed-alt);
    }
}

// GFM
.task-list-item {
    input {
        margin-right: my-spacing(sm);
    }
}

// KRAMDOWN TOC
#markdown-toc {
    padding-left: my-spacing(sm);
}
@include my-screen-size(md,xl) {
    #markdown-toc {
        display: none;
    }
}