---
layout: styleguide/default
---

<div class="home">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>

    {{ content }}

{% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ site.texts.posts }}</h2>
    {% for post in site.posts %}
    <div class="sg-bb-solidAndThin sg-mb-md">
        {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
        <span class="sg-fs-xs sg-c-neutral">{{ post.date | date: date_format }}</span>
        <h3 class="sg-mt-none">
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>
        <p>
    {% if post.description %}
            {{ post.description }}
    {% else %}
            {{ post.excerpt | strip_html }}
    {% endif %}
        </p>
    </div>
    {% endfor %}
{% endif %}

</div>
