

/*
    GENERIC COMPONENT
    Briks generic component
    ---
*/

@if $briks-components-prefix != '' 
and $briks-components-prefix != false 
and $briks-modifiers-prefix != '' 
and $briks-modifiers-prefix != false 
and length($briks-components-generic) > 0 {
    // Iterate generic components list
    @each $component_name, $component_data in $briks-components-generic {
        // Component must be enabled
        @if map-get($component_data, enabled) == true {
            // Component's class name
            .#{$briks-components-prefix}#{$component_name} {
                // Iterate component default properties
                // If component defaults are set
                @if length(map-get($component_data, defaults)) > 0 {
                    @each $property, $value in map-get($component_data, defaults) {
                        @if type-of($value) == 'string' {
                            $value: unquote($value);
                        }
                        #{$property}: $value;
                    }
                }
                // If modifiers are set
                @if length(map-get($component_data, modifiers)) > 0 {
                    // Iterate component modifiers properties
                    @each $modifier_name, $modifier_data in map-get($component_data, modifiers) {
                        &.#{$briks-modifiers-prefix}#{$modifier_name} {
                            @each $property, $value in $modifier_data {
                                @if type-of($value) == 'string' {
                                    $value: unquote($value);
                                }
                                #{$property}: $value;
                            }
                        }
                    }
                }
                // Responsive
                @if map-get($component_data, responsive) == true {
                    @each $screen, $value in $briks-screen-sizes {
                        @include my-screen-size($screen) {
                            // If modifiers are set
                            @if length(map-get($component_data, modifiers)) > 0 {
                                // Iterate component modifiers properties
                                @each $modifier_name, $modifier_data in map-get($component_data, modifiers) {
                                    &.#{$briks-modifiers-prefix}#{$modifier_name}#{$briks-responsive-prefix}#{$screen},
                                    &[#{$briks-modifiers-prefix}#{$modifier_name}*="#{$screen}"] {
                                        @each $property, $value in $modifier_data {
                                            @if type-of($value) == 'string' {
                                                $value: unquote($value);
                                            }
                                            #{$property}: $value;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
