

/*
    POSITIONS
    Briks position related component
    ---
    Position related CSS declarations
*/
@if $briks-components__positions__enabled 
and $briks-components-prefix != '' 
and $briks-components-prefix != false 
and $briks-components__positions__name != '' 
and $briks-components__positions__name != false {
    @if length($briks-components__positions__css-modifiers) > 0 or length($briks-components__positions__css) > 0 {
        .#{$briks-components-prefix}#{$briks-components__positions__name} {
            @each $property, $value in $briks-components__positions__css {
                #{$property}: $value;
                @if $value == 'sticky' {
                    position: -webkit-sticky;
                }
            }
            // Modifiers
            @each $name, $cssdata in $briks-components__positions__css-modifiers {
                &.#{$briks-modifiers-prefix}#{$name} {
                    @each $property, $value in $cssdata {
                        #{$property}: $value;
                        @if $value == 'sticky' {
                            position: -webkit-sticky;
                        }
                    }
                }
            }
            @if $briks-components__positions__responsive {
                @each $screen, $value in $briks-screen-sizes {
                    @include my-screen-size($screen) {
                        // Responsive modifiers
                        @each $name, $cssdata in $briks-components__positions__css-modifiers {
                            &.#{$briks-modifiers-prefix}#{$name}#{$briks-responsive-prefix}#{$screen},
                            &[#{$briks-modifiers-prefix}#{$name}*="#{$screen}"] {
                                @each $property, $value in $cssdata {
                                    #{$property}: $value;
                                    @if $value == 'sticky' {
                                        position: -webkit-sticky;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
